<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>扫描二维码</title>
  <!-- jquery -->
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

  <script src="https://cdn.bootcss.com/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
</head>
<body>
<h1>二维码</h1>
<div>
  <table>
    <tr>
      <td><img id="qrCode" width="200" height="200"/></td>
    </tr>
  </table>
</div>
</body>
<script>
  function connect() {
    var socket = new SockJS('/websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
      console.log('Connected: ' + frame);
      stompClient.subscribe('/topic/ws', function (response) {//订阅路由消息
        console.log(response);
        if(response.body=="请确认"){
          layer.msg("请在你的app上确认登录")
        }else if(response.body=="已经确认"){
          window.location.href = "success"
        }
      });
    });
  }

  var uuid = "";
  $.ajax({
    url: "/api/v1/qrCode",
    type:"POST",
    success:function (data) {
      $("#qrCode").attr("src",data.data.image);
      uuid = data.data.uuid;
      // callbackScan(data.data.uuid)
      connect();
    }
  });
  //使用setTimeOut来循环请求判断是否被扫描，被扫描以后调用下面一个函数循环判断是否被确认
  function callbackScan(uuid) {
    var tID = setTimeout(function() {
      $.ajax({
        url : '/api/v1/qrCode',
        dataType: "json",
        type: 'GET',
        data:{"uuid":uuid},
        success : function(res) {
          //process data here
          console.log(res.data);
          if(res.data === "SCANNED") {
            clearTimeout(tID);
            console.log("请求确认")
            callbackVerify(uuid)
          }else {
            callbackScan(uuid)
          }
        }
      }) }, 1500);
  }
  //循环判断是否被确认
  function callbackVerify(uuid) {
    var tID = setTimeout(function() {
      $.ajax({
        url : '/api/v1/qrCode',
        dataType: "json",
        type: 'GET',
        data:{"uuid":uuid},
        success : function(res) {
          //process data here
          console.log(res.data);
          if(res.data==="VERIFIED") {
            clearTimeout(tID);
            console.log("确认成功")
            window.location.href = "success";
          }else {
            callbackVerify(uuid)
          }
        }
      }) }, 1500);
  }
</script>
</html>